@model Vidly.ViewModels.MovieFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Action</h2>

@using (@Html.BeginForm("Save","Movies"))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Movie.Name)
        @Html.TextBoxFor(x => x.Movie.Name, new { @class = "form-control" }) @*props will be based in Customer.cs props*@
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Movie.ReleaseDate)
        @Html.TextBoxFor(x => x.Movie.ReleaseDate, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Movie.GenreId)
        @Html.DropDownListFor(
            x => x.Movie.GenreId,
            new SelectList(Model.Genres,"Id","Description"),
            "Select Genre",
            new { @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Movie.NumberInStock)
        @Html.TextBoxFor(x => x.Movie.NumberInStock, new { @type = "number", @class = "form-control", @min = "0" })
    </div>
    
    @Html.HiddenFor(x => x.Movie.Id)
    <button type ="submit" class="btn btn-primary">Save</button> 
}

